@{
    ViewData["Title"] = "HotelsInfo";
}

<p class="textTitle">Our Hotels</p>
<div class="container">
    <div class="textPara">
        <p class="textParaTitle">Hotel "Cherno More"</p>
        <p class="dateText">August 4 1989, 8 comments</p>
        <p class="insideText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
            natus ducimus eum vero similique reprehenderit adipisci molestiae in sequi,
            deleniti, alias commodi aut corrupti eos saepe eaque provident perferendis consequatur?
        </p>
    </div>
    <img class="imgTask" src="~/images/hotelChernoMore.jpg" alt="Image not found" height="50%" width="50%">
</div>
<hr \n>
<div class="container">
    <img class="imgTask" src="~/images/hotelRosslynDimyat.jpg" alt="Image not found" height="50%" width="50%">
    <div class="textPara">
        <p class="textParaTitle">Hotel "Rosslyn Dimyat"</p>
        <p class="dateText">August 4 1989, 8 comments</p>
        <p class="insideText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
            natus ducimus eum vero similique reprehenderit adipisci molestiae in sequi,
            deleniti, alias commodi aut corrupti eos saepe eaque provident perferendis consequatur?
        </p>
    </div>
</div>
<hr \n>
<div class="container">
    <div class="textPara">
        <p class="textParaTitle">Hotel "International"</p>
        <p class="dateText">Opens Spring 1969</p>
        <p class="insideText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
            natus ducimus eum vero similique reprehenderit adipisci molestiae in sequi,
            deleniti, alias commodi aut corrupti eos saepe eaque provident perferendis consequatur?
        </p>
    </div>
    <img class="imgTask" src="~/images/hotelInternational.jpg" alt="Image not found" height="50%" width="50%">
</div>